*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    height:100%;
}

body{
    overflow:hidden;

    background:#050B16;

    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

    color:white;

    -webkit-font-smoothing:antialiased;
}

button{
    font:inherit;
}

img{
    user-select:none;
    -webkit-user-drag:none;
}

::-webkit-scrollbar{
    width:0;
}